@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: Montserrat, Poppins, sans-serif;
}

body {
    background-color: #ffffff;
}

.navbar {
    background-color: #0e0e0e;
}

.dropdown-menu {
    background-color: #0e0e0e;
}

.dropdown-item {
    color: #ffffff;
    transition: .2s;
}

.dropdown-item:hover {
    transition: .2s;
    color: #595959 !important;
    background-color: #0e0e0e;
}

.dropdown-item:active {
    color: #595959;
    text-decoration: none;
    background-color: #0e0e0e;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #595959;
    background-color: #0e0e0e;
}

.nav-item {
    margin-right: 20px;
}

.top_nav_bar {
    background-color: #ffc800;
}

.vr__text {
    font-weight: 800;
}

.nav-item a {
    color: #ffffff !important;
    font-weight: 500;
}

.search-btn {
    border: 2px solid #ffc800;
}

.search-btn:hover {
    background-color: #ffc800;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ffc800;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #ffc800;
}

.first__view__sec {
    padding: 90px 0px 30px 0px;
}

.carousel {
    background-color: #ffc800;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 0px 10px #ffc8002c;
}

.carousel-item img {
    border-radius: 4px;
    filter: brightness(0.5);
}

.card {
    background-color: #ffc800;
    padding: 5px;
}

.card-body {
    background-color: #ffffff;
    padding: 8px !important;
}

.div_card_title {
    background-color: #ffc800;
    padding: 12px;
}

.div_card_title h5 {
    font-size: 16px;
}

.notices__sec {
    padding: 30px 0px 30px 0px;
}

.notice__card img {
    width: 100%;
    border-radius: 4px;
}

.card-date {
    padding: 10px 0px 10px 0px;
    color: #000000;
    font-size: 12px;
    font-weight: 500
}

.notice-title {
    color: #ffc800;
    font-size: 20px;
}

.notice-content {
    color: #000000;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
}

.section__title h3 {
    color: #ffc800;
}