@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: Montserrat, Poppins, sans-serif;
}

body {
    background-color: #ffffff;
}

footer {
    background-color: #0e0e0e;
}

footer .bx {
    font-size: 32px;
    color: #ffffff;
}

footer h3 {
    color: #ffc800;
    font-weight: 600;
    margin-top: 20px;
}

footer p {
    color: #ffffff;
    margin-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0px;
    margin-top: 25px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    transition: .2s;
    text-transform: uppercase;
}
footer ul li a:hover {
    color: #393939;
}
.bx{
    transition: .2s;
}
.bx:hover {
    transition: .2s;
    color: #393939;
}

.navbar {
    background-color: #ffc800;
}

.black_nav {
    background-color: #0e0e0e;
}

.dropdown-menu {
    background-color: #ffc800;
}

.dropdown-item {
    color: #0e0e0e;
    transition: .2s;
}

.logo {
    position: absolute;
    z-index: 122222222;
    left: 48%;
    top: 18px;
}

.dropdown-item:hover {
    transition: .2s;
    color: #595959 !important;
    background-color: #ffc800;
}

.dropdown-item:active {
    color: #595959;
    text-decoration: none;
    background-color: #ffc800;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #595959;
    background-color: #ffc800;
}

.nav-item {
    margin-right: 30px;
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}

.top_nav_bar {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vr__text {
    font-weight: 800;
}

.nav-item a {
    color: #0e0e0e !important;
    font-weight: 500;
}

.search-btn {
    border: 2px solid #0e0e0e;
    background-color: #ffffff;
}

.search-btn i {
    color: #0e0e0e;
}

.search-btn:hover {
    background-color: #ffffff;
}

.form-control {
    border: 2px solid #0e0e0e;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ffc800;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #ffc800;
}

.first__view__sec { 
    padding: 90px 0px 60px 0px;
}

.carousel {
    background-color: #ffc800;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 0px 10px #ffc8002c;
}

.carousel-item img {
    border-radius: 4px;
    filter: brightness(0.35);
}

.carousel-caption h5 {
    font-weight: 600;
    color: #ffc800;
}

.card {
    background-color: #ffc800;
    padding: 5px;
}

.card-body {
    background-color: #ffffff;
    padding: 8px !important;
}

.div_card_title {
    background-color: #ffc800;
    padding: 3px;
}

.div_card_title h5 {
    font-size: 16px;
}

.notices__sec {
    /* padding: 30px 0px 30px 0px; */
    background-color: #0e0e0e;
}


.notice__card img {
    width: 100%;
    border-radius: 4px;
    transition: .2s;
}

.notice__card  img:hover {
    transition: .4s;
    transform: scale(1.04);
}

.notice__card {
    text-decoration: none;
}

.card-date {
    /* padding: 10px 0px 10px 0px; */
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.notice-title {
    transition: .2s;
    color: #ffc800;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.notice-title:hover {
    transition: .2s;
    color: #ffffff;
}

.notice-content {
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.notices__sec__2 {
    padding: 30px 0px 30px 0px;
    background-color: #ffffff;
}

.notices__sec__2 .notice__card img {
    width: 100%;
    border-radius: 4px;
    transition: .2s;
}

.notices__sec__2 .notice__card  img:hover {
    transition: .4s;
    transform: scale(1.04);
}

.notices__sec__2 .notice__card {
    text-decoration: none;
}

.notices__sec__2 .card-date {
    padding: 10px 0px 10px 0px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.notices__sec__2 .notice-title {
    transition: .2s;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.notices__sec__2 .notice-title:hover {
    transition: .2s;
    color: #0000006b;
}

.notices__sec__2 .notice-content {
    color: #000000;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.section__title {
    margin-bottom: 30px;
}

.section__title h3 {
    color: #ffc800;
    font-weight: 800;
    font-size: 36px;
    width: 100%;
    text-align: justify;
}

.bx-search {
    color: #ffffff;
}

.cast__sec {
    padding: 30px 0px 30px 0px;
}

.cast__card {
    padding: 8px;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cast__card__sponsors {
    padding: 8px;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 210px;
    overflow: hidden;
}

.cast__card img {
    width: 190px !important;
}

.cast__card h5 {
    margin-top: 12px;
}

.cast__card p {
    color: #ffc800;
}

.owl-next span {
    color: #ffc800;
    font-size: 90px;
    position: absolute;
    top: 13%;
    right: -60px;
    transition: .2s;
}
.owl-next span:hover {
    transition: .2s;
    color: #ffc80073;
}

.owl-prev span {
    color: #ffc800;
    font-size: 90px;
    position: absolute;
    top: 13%;
    left: -60px;
    transition: .2s;
}
.owl-prev span:hover {
    transition: .2s;
    color: #ffc80073;
}

.notice__link {
    text-decoration: none;
    transition: .2s;
}

.badge {
    position: absolute;
    z-index: 10000000;
    left: 12px;
    top: 12px;
    font-size: 14px;
}

.text-bg-warning {
    background-color: #ffc800 !important;
}

.details__card img {
    width: 100%;
}

.details__card .card-date {
    font-size: 12px;
}

.details__card .notice-content {
    font-size: 18px;
}

.sponsors_logo {
    width: 80% !important; 
    filter: grayscale(1);
    transition: .2s;
}

.sponsors_logo:hover {
    transition: .2s;
    filter: grayscale(0);
}

.cardPubli {
    padding: 116px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .2s;
}

.cardPubli:hover {
    transition: .5s;
    transform: scale(1.05);
}

.match__info {
    font-weight: 500;
}

.match__info i {
    font-size: 22px;
}

.section_title_pages {
    background-image: url(../img/banner_pages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -770px;
}

.section_title_pages h1 {
    color: #ffffff;
    font-weight: 800;
}

.sec_history h2 {
    color: #828282;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.sec_history h3 {
    color: #828282;
    font-weight: 800;
    font-size: 14px;
}

.sec_history p {
    color: #aaaaaa;
    font-weight: 600;
    text-align: justify;
    font-size: 14px;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #000000;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    outline: 0;
    box-shadow: none;
}

.accordion-button {
    color: #000000;
    font-weight: 500;
    background-color: #ffc800;
}

@media only screen and (max-width: 1440px) {

    .cardPubli {
        padding: 96px;
    }

}

@media only screen and (max-width: 768px) {

    .owl-next span {
        color: #ffc800;
        font-size: 90px;
        position: absolute;
        top: 13%;
        right: 18px;
        transition: .2s;
    }

    .owl-prev span {
        color: #ffc800;
        font-size: 90px;
        position: absolute;
        top: 13%;
        left: 18px;
        transition: .2s;
    }

    .owl-dots {
        display: none !important;
    }

    .cast__card h5 {
        font-size: 26px;
        font-weight: 600;
    }

    .vr__text__align {
        justify-content: center !important;
    }

    .logo {
        left: 44%;
        top: 2px;
        width: 40px;
    }

    .section_title_pages {
        background-position-y: 0px;
    }

    .notices__sec, .first__view__sec, .cast__sec, .sponsors__sec {
        padding: 15px;
    }

    iframe {
        width: 100%;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel-caption h5 {
        font-size: 16px;
        text-align: left;
        margin-bottom: -30px;
        position: absolute;
        top: -6px;
        left: -36px;
    }

    .d-none {
        display: block !important;
    }

    .banner__quick {
        width: 100%;
    }

}
