@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: Montserrat, Poppins, sans-serif;
}

body {
    background-color: #ffffff;
}

.navbar {
    background-color: #ffc800;
}

.black_nav {
    background-color: #0e0e0e;
}

.dropdown-menu {
    background-color: #ffc800;
}

.dropdown-item {
    color: #0e0e0e;
    transition: .2s;
}

.logo {
    position: absolute;
    z-index: 122222222;
    left: 48%;
    top: 18px;
}

.dropdown-item:hover {
    transition: .2s;
    color: #595959 !important;
    background-color: #ffc800;
}

.dropdown-item:active {
    color: #595959;
    text-decoration: none;
    background-color: #ffc800;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #595959;
    background-color: #ffc800;
}

.nav-item {
    margin-right: 20px;
}

.top_nav_bar {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vr__text {
    font-weight: 800;
}

.nav-item a {
    color: #0e0e0e !important;
    font-weight: 500;
}

.search-btn {
    border: 2px solid #ffc800;
}

.search-btn:hover {
    background-color: #ffc800;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ffc800;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #ffc800;
}

.first__view__sec {
    padding: 90px 0px 30px 0px;
}

.carousel {
    background-color: #ffc800;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 0px 10px #ffc8002c;
}

.carousel-item img {
    border-radius: 4px;
    filter: brightness(0.5);
}

.card {
    background-color: #ffc800;
    padding: 5px;
}

.card-body {
    background-color: #ffffff;
    padding: 8px !important;
}

.div_card_title {
    background-color: #ffc800;
    padding: 12px;
}

.div_card_title h5 {
    font-size: 16px;
}

.notices__sec {
    padding: 30px 0px 30px 0px;
}

.notice__card img {
    width: 100%;
    border-radius: 4px;
}

.notice__card {
    text-decoration: none;
}

.card-date {
    padding: 10px 0px 10px 0px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.notice-title {
    transition: .2s;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.notice-title:hover {
    transition: .2s;
    color: #ffc800;
}

.notice-content {
    color: #000000;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.section__title h3 {
    color: #ffc800;
}

.bx-search {
    color: #ffffff;
}

.cast__sec {
    padding: 30px 0px 30px 0px;
}

.cast__card {
    padding: 8px;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cast__card img {
    width: 190px !important;
}

.cast__card h5 {
    margin-top: 12px;
}

.cast__card p {
    color: #ffc800;
}

.owl-next span {
    color: #ffc800;
    font-size: 90px;
    position: absolute;
    top: 105px;
    right: -60px;
    transition: .2s;
}
.owl-next span:hover {
    transition: .2s;
    color: #ffc80073;
}

.owl-prev span {
    color: #ffc800;
    font-size: 90px;
    position: absolute;
    top: 105px;
    left: -60px;
    transition: .2s;
}
.owl-prev span:hover {
    transition: .2s;
    color: #ffc80073;
}

.notice__link {
    text-decoration: none;
}

.badge {
    position: absolute;
    z-index: 10000000;
    left: 12px;
    top: 12px;
    font-size: 14px;
}

.text-bg-warning {
    background-color: #ffc800 !important;
}